button {
  background-color: #548ca8;
  font-size: 2.5rem;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #36647b;
}

.equals {
  grid-column: 3 / span 2;
  background-color: #eeeeee;
  color: gray;
}
